swagger: '2.0'
info:
  description: This is the Sumé LMS API for Course Microservice
  title: Sumé LMS Course API
  termsOfService: https://sumelms.com/docs/terms
  contact:
    name: LMS Support
    url: https://sumelms.com/support
    email: support@sumelms.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
host: localhost:8080
basePath: /api/v1
paths:
  /courses:
    get:
      summary: List Courses
      deprecated: false
      description: List Courses
      tags:
        - courses
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              courses:
                type: array
                items:
                  $ref: '#/definitions/endpoints.CourseResponse'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/endpoints.ErrorResponse'
      security: []
      consumes:
        - application/json
      produces:
        - application/json
    post:
      summary: Create Course
      deprecated: false
      description: Create a new Course
      tags:
        - courses
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/endpoints.CourseRequest'
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              course:
                $ref: '#/definitions/endpoints.CourseResponse'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/endpoints.ErrorResponse'
      security: []
      consumes:
        - application/json
      produces:
        - application/json
  /courses/{course_uuid}:
    get:
      summary: Get Course
      deprecated: false
      description: Get Course by UUID
      tags:
        - courses
      parameters:
        - in: path
          required: true
          name: course_uuid
          description: Course UUID
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              course:
                $ref: '#/definitions/endpoints.CourseResponse'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/endpoints.ErrorResponse'
      security: []
      consumes:
        - application/json
      produces:
        - application/json
    put:
      summary: Update Course
      deprecated: false
      description: Update a Course by UUID
      tags:
        - courses
      parameters:
        - in: path
          required: true
          name: course_uuid
          description: Course UUID
          type: string
          format: uuid
        - name: body
          in: body
          schema:
            $ref: '#/definitions/endpoints.CourseRequest'
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              course:
                $ref: '#/definitions/endpoints.CourseResponse'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/endpoints.ErrorResponse'
      security: []
      consumes:
        - application/json
      produces:
        - application/json
    delete:
      summary: Delete Course
      deprecated: false
      description: Delete a Course by UUID
      tags:
        - courses
      parameters:
        - in: path
          required: true
          name: course_uuid
          description: Course UUID
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              course:
                $ref: '#/definitions/endpoints.DeleteResponse'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/endpoints.ErrorResponse'
      security: []
      produces:
        - application/json
definitions:
  endpoints.DeleteResponse:
    type: object
    properties:
      uuid:
        type: string
      deleted_at:
        type: string
  endpoints.ErrorResponse:
    type: object
    properties:
      message:
        type: string
      error:
        type: string
  endpoints.CourseResponse:
    type: object
    properties:
      uuid:
        type: string
      code:
        type: string
      name:
        type: string
      underline:
        type: string
      image:
        type: string
      image_cover:
        type: string
      excerpt:
        type: string
      description:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
  endpoints.CourseRequest:
    type: object
    properties:
      code:
        type: string
        maxLength: 15
      name:
        type: string
        maxLength: 100
      underline:
        type: string
        maxLength: 100
      image:
        type: string
      image_cover:
        type: string
      excerpt:
        type: string
        maxLength: 140
      description:
        type: string
        maxLength: 255
    required:
      - code
      - name
      - underline
      - excerpt
securityDefinitions:
  ApiKeyAuth:
    description: Description for what is this security definition being used
    type: apiKey
    name: Authorization
    in: header
  BasicAuth:
    type: basic
  OAuth2AccessCode:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://sso.sumelms.com/oauth/authorize
    tokenUrl: https://sso.sumelms.com/oauth/token
    scopes:
      admin: Grants read and write access to administrative information
  OAuth2Application:
    type: oauth2
    flow: application
    tokenUrl: https://sso.sumelms.com/oauth/token
    scopes:
      admin: Grants read and write access to administrative information
      write: Grants write access
  OAuth2Implicit:
    type: oauth2
    flow: implicit
    authorizationUrl: https://sso.sumelms.com/oauth/authorize
    scopes:
      admin: Grants read and write access to administrative information
      write: Grants write access
  OAuth2Password:
    type: oauth2
    flow: password
    tokenUrl: https://sso.sumelms.com/oauth/token
    scopes:
      admin: Grants read and write access to administrative information
      read: Grants read access
      write: Grants write access
